Uptime and Security Watchdog.json
{
  "name": "Uptime and Security Watchdog",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "d7004628-4213-46a6-989b-5a40a66ec6ea",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1088,
        16
      ]
    },
    {
      "parameters": {
        "url": "https://github.com",
        "options": {
          "response": {}
        }
      },
      "id": "37e725b0-4014-443c-9b76-88d0cfd10e23",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -832,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const httpNode = $('HTTP Request');\nconst statusCode = httpNode.item.json.statusCode ?? 0;\n\n// Approximate response time using schedule start timestamp\nconst startTs = $('Schedule Trigger').item.json.timestamp\n    ? new Date($('Schedule Trigger').item.json.timestamp).getTime()\n    : Date.now() - 500;\nconst responseTime = Date.now() - startTs;\n\nconst alertNeeded = (statusCode !== 200) || (responseTime > 3000);\n\nreturn [{\n  json: {\n    url: 'https://github.com',\n    statusCode,\n    responseTime,\n    timestamp: new Date().toISOString(),\n    alertNeeded,\n    alertSent: alertNeeded ? 'yes' : 'no'\n  }\n}];\n"
      },
      "id": "5309295d-64d1-4e08-8e9b-97be373126f5",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.alertNeeded }}",
              "value2": true,
              "operation": "equal"
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "80ccc6b3-02d3-4186-b130-f23a7e5dbec6",
      "name": "IF Node",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -336,
        16
      ]
    },
    {
      "parameters": {
        "chatId": "5111711329",
        "text": "=🚨 ALERT: github.com is down or slow. Status: {{ $('Code').item.json.statusCode }}. Response time: {{ $('Code').item.json.responseTime }}ms. Time: {{ $('Code').item.json.timestamp }}",
        "additionalFields": {}
      },
      "id": "e901fbd4-c091-4525-aa98-fb525ad472b6",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        -112
      ],
      "webhookId": "1d82084c-713b-441b-9c52-005084c807a1",
      "credentials": {
        "telegramApi": {
          "id": "yyjRRR5zPne86tGq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1689znBqbBP-BCaK965eYAkZ6Rtj7Z5tzrK2p2kEIaMk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Uptime Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1689znBqbBP-BCaK965eYAkZ6Rtj7Z5tzrK2p2kEIaMk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Code').item.json.url }}",
            "Status code": "={{ $('Code').item.json.statusCode }}",
            "Response time": "={{ $('Code').item.json.responseTime }}",
            "Time Stamp ": "= {{ $('Code').item.json.timestamp }}",
            "Alert Sent": "={{ $('Code').item.json.alertSent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status code",
              "displayName": "Status code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response time",
              "displayName": "Response time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time Stamp ",
              "displayName": "Time Stamp ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alert Sent",
              "displayName": "Alert Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3e5e3a51-2023-41f4-a68d-ff4c3e982ccc",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        176,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M4V9Qqi3eW2zHr5U",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "IF Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Node": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7405250d-6027-4568-b3d3-f9a21d4a35b6",
  "meta": {
    "instanceId": "1405e9a5180a2323d40a43499426a0c6176e10b59fbf7eb137c4000998691dd5"
  },
  "nodeGroups": [],
  "id": "17AoAauDTSxiYDhB",
  "tags": []
}